@CHARSET "UTF-8";

#blogTop {
	background-color: #FFFFCE;
	border-style: solid;
	border-color: #ECECFF;
	font-size: bold;
	font-size: 42px;
	height: 160px;
	width: 100%;
	overflow: hidden;
	font-family:"Lucida Console", Monaco, monospace;
}

*{padding: 0;margin: 0;box-sizing:border-box;}
li{
	list-style: none;
	float: left;
}

ul img {
	height: 120px;
	width: 120px;
}

.container{
	height: 120px;
	width: 120px;
	margin: -50px auto 20%;
	margin-right: 60px;
	overflow: hidden;
	position: relative;
	/*border: 1px solid black;*/
}

.container ul{
       animation:Mymove 14s infinite 2s;
       /*animation-duration:2s;*/
       width: 800%;
}
@keyframes Mymove{
      0% {
        transform: translateX(0px);
      }
      14% {
        transform: translateX(-120px);
      }
      28% {
        transform: translateX(-240px);
      }
      43% {
        transform: translateX(-360px);
      }
      57% {
        transform: translateX(-480px);
      }
      71% {
        transform: translateX(-600px);
      }
      85% {
        transform: translateX(-720px);
      }
      100% {
        transform: translateX(0px);
      }
}

#select{
	height: 50px;
	width: 100%;
	background-color: #E0E0E0;
}

#select tr td{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color: #C8C8C8;
}

#cardMain{
	height: 340px;
	weight: 60%;
	/*text-align: center;*/
	float: right;
	margin-top:80px;
	margin-right: 100px;
	font-size: 20px;
	font-weight: bold;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border:1px solid #C0C0C0;
}

#cardHead img{
	height: 25px;
	weight: 15px;
	margin-top: 25px;
	margin-left: 15px;
}

#cardPart{
	height: 260px;
	width: 220px;
	line-height: 200%;
	margin-top: 15px;
	margin-left: 15px;
	/*border: 1px solid black;*/
}
